@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 62% 88%;
    --foreground: 20 14.3% 4.1%;
    --card: 40 62% 88%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 40 62% 88%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 0 60% 40%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 40 20% 80%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 40 20% 80%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 45 56% 56%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 0 60% 40% / 0.2;
    --input: 0 60% 40% / 0.2;
    --ring: 45 56% 56%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 0 60% 50%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 45 56% 66%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 0 60% 50% / 0.2;
    --input: 0 60% 50% / 0.2;
    --ring: 45 56% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Mobile first styles */
  .h-\[60vh\] {
      height: 45vh;
  }
  section.relative.h-\[60vh\].md\:h-\[75vh\].w-full {
      margin-top: -15%;
  }

  /* Desktop styles */
  @media (min-width: 768px) { /* Corresponds to md: breakpoint */
      section.relative.h-\[60vh\].md\:h-\[75vh\].w-full {
          margin-top: -4%;
      }
  }
}
