@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F2F9FC;
    --foreground: 20 14.3% 4.1%;
    --card: #3689cc;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 40 62% 88%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 213 100% 41%;
    --primary-foreground: 60 9.1% 97.8%;
    /* Verde agua para hover: Teal 500 aprox */
    --primary-hover: 173 80% 40%;
    --secondary: 40 20% 80%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 40 20% 80%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 45 56% 56%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 213 100% 41% / 0.2;
    --input: 213 100% 41% / 0.2;
    --ring: 45 56% 56%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 213 100% 50%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 45 56% 66%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 213 100% 50% / 0.2;
    --input: 213 100% 50% / 0.2;
    --ring: 45 56% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
